<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
        <div class="row">
            <div class="cls_underline">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 null_padding_mt">
                <div class="cls_footermain">
                    <h1>
                        {{"Title"}}
                    </h1>
                    <ul>

                        <li><a routerLink="/OurStory">{{"Title"}}</a></li>

                        <li><a routerLink="/Press">{{"Title"}}</a></li>
                        <!-- <li><a href="#careers">Careers</a></li>-->
                        <li><a routerLink="/ContactUs">{{"Title"}}</a></li>
                        <li><a routerLink="/AboutUs"></a>{{"Title"}}</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 null_padding_mt">
                <div class="cls_footermain">
                    <h1>
                        {{"Title"}}
                    </h1>
                    <ul>
                        <li><a routerLink="/OrderStatus">{{"Title"}} </a></li>
                        <li><a routerLink="/COD">{{"Title"}}</a></li>
                        <li><a routerLink="/FAQ">{{"Title"}}</a></li>
                        <li><a routerLink="/TaC">{{"Title"}}</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 null_padding_mt">
                <div class="cls_footermain">
                    <h1>
                        {{"Title"}}
                    </h1>
                    <ul>
                        <li><a routerLink="/Distributor"> {{"Title"}} </a></li>
                        <li><a routerLink="/CorporateOrder"> {{"Title"}}</a></li>
                        <li><a routerLink="/GiftCard"> {{"Title"}}</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 null_padding_mt">
                <div class="cls_footermain">
                    <h1>
                        {{"Title"}}
                    </h1>
                    <ul>
                        <li><a style="font-family:Arial;font-size:15px;" href="tel:+91-9032051575"><img
                                    src="assets/footer/phone.png">800220011</a></li>
                        <li><a href="#"><img style="width:26px;" src="assets/footer/email.png"> Fonterra</a></li>
                    </ul>
                </div>
                <div class="cls_whattosay">
                    <h2>{{"Title"}}</h2>
                    <p>{{"Title"}}</p>


                    <div class="cls_emailsend">

                        <input class=" cls_form_input" name="newsletterEmail" type="email">
                        <div class="cls_sendbtn"><a href="#">{{"Title"}} </a></div>


                    </div>
                    <div class="cls_social">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Fonterra/" target="_blank">
                                    <img style="width:30px;" src="assets/footer/22.png">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img style="width:30px;" src="assets/footer/pinterest3.png">
                                </a>
                            </li>

                            <li>
                                <a href="#" target="_blank">
                                    <img style="width:30px;" src="assets/footer/Instagram3.png">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img style="width:50px;" src="assets/footer/pin.png">
                                    <img style="width:50px;" src="assets/footer/pin_val.png">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>